.empty {
    &__wrapper {
        width: 100%;
        height: calc(70dvh - 78px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    &__icon {
        width: 150px;
        height: 150px;
    }

    &__text {
        font-size: 24px;
        font-weight: 300;
    }

    &__link {
        text-underline-offset: 4px;
    }
}